<section id="portfolio" class="portfolio services">

    <div class="container" data-aos="fade-up">

        <header class="section-header">
            <h2>Products</h2>
            @*<p>Software Consu</p>*@
        </header>

        <div class="row gy-4">

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="service-box blue">
                    <i class="ri-snowy-line icon"></i>
                    <h3>SimbaPos</h3>
                    <p>This is an inventory management software with features including point of sale, purchasing, inventory control etc.
                    It automates the whole life-cycle of retail including sales, purchases, stocking etc.</p>
                    <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="service-box orange">
                    <i class="ri-discuss-line icon"></i>
                    <h3>SimbaAttendance</h3>
                    <p>It's an attendance management software for tracking employee attendance integrated with ZKTeco bio device.</p>
                    <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                <div class="service-box green">
                    <i class="ri-discuss-line icon"></i>
                    <h3>SimbaKodesha</h3>
                    <p>A software for rental property management which automates rent collection, tenant invoicing, collection reports etc.</p>
                    <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                <div class="service-box red">
                    <i class="ri-stack-overflow-fill icon"></i>
                    <h3>SimbaLicence</h3>
                    <p>For those applications that require licencing, this is a product that assists in that.</p>
                    <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                <div class="service-box purple">
                    <i class="ri-discuss-line icon"></i>
                    <h3>SimbaDataSync.</h3>
                    <p>
                        This is a tool to assist in data synchronisation between two datasources that are similar in structure.
                    </p>
                    <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="700">
                <div class="service-box pink">
                    <i class="ri-discuss-line icon"></i>
                    <h3>SimbaBulkComm</h3>
                    <p>
                        If you require an application to send messages in bulk then this is the software you require.
                    </p>
                    <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>

        </div>

    </div>

</section>