<section id="services" class="services">

    <div class="container" data-aos="fade-up">

        <header class="section-header">
            <h2>Services</h2>
            @*<p>Software Consu</p>*@
        </header>

        <div class="row gy-4">

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="service-box blue">
                    <i class="ri-snowy-line icon"></i>
                    <h3>Software Development</h3>
                    <p>We develop custom software according to our clients specifications.</p>
                    <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="service-box orange">
                    <i class="ri-discuss-line icon"></i>
                    <h3>Software Consultation</h3>
                    <p>We offer consultation for our client softwares ranging from security, integrations and extensions.</p>
                    <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                <div class="service-box green">
                    <i class="ri-discuss-line icon"></i>
                    <h3>IOTs</h3>
                    <p>We offer integration of our client software with devices ranging from biometrics, KRA control units etc.</p>
                    <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                <div class="service-box red">
                    <i class="ri-stack-overflow-fill icon"></i>
                    <h3>Website Design</h3>
                    <p>We design responsive websites depending on our clients requirements. Websites range from simple single paged to big e-commerce pages.</p>
                    <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                <div class="service-box purple">
                    <i class="ri-discuss-line icon"></i>
                    <h3>Networking.</h3>
                    <p>If you require several machines connected in a private network, we can do that for you.
                    This could be a requirement where for example you require your printer connected to several computers
                    in a premise.
                    </p>
                    <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="700">
                <div class="service-box pink">
                    <i class="ri-discuss-line icon"></i>
                    <h3>Web Development</h3>
                    <p>If your require an application that only requires internet connection and 
                    doesn't require installations and can be accessible from anywhere in the world. Then we can do it for
                    you and further advice on a good hosting platform.</p>
                    <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>

        </div>

    </div>

</section>