@{
    ViewData["Title"] = "FAQs";
}
@*<h1>@ViewData["Title"]</h1>*@

@*<p>Use this page to detail your site's privacy policy.</p>*@

<!-- ======= F.A.Q Section ======= -->
<partial name="_FAQs" />
<!-- End F.A.Q Section -->