@{
    ViewData["Title"] = "Home";
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@

<!-- ======= Hero Section ======= -->
<partial name="_HomeHero" />
<!-- End Hero -->

<!-- ======= About Section ======= -->
<partial name="_About" />
<!-- End About Section -->
<!-- ======= Values Section ======= -->
@*<partial name="_Values" />*@
<!-- End Values Section -->
<!-- ======= Counts Section ======= -->
@*<partial name="_Counts" />*@
<!-- End Counts Section -->
<!-- ======= Features Section ======= -->
@*<partial name="_Features" />*@
<!-- End Features Section -->
<!-- ======= Services Section ======= -->
<partial name="_Services" />
<!-- End Services Section -->
<!-- ======= Pricing Section ======= -->
@*<partial name="_Pricing" />*@
<!-- End Pricing Section -->
<!-- ======= Portfolio Section ======= -->
<partial name="_Portfolio" />
<!-- End Portfolio Section -->
<!-- ======= Testimonials Section ======= -->
@*<partial name="_Testimonials" />*@
<!-- End Testimonials Section -->
<!-- ======= Team Section ======= -->
@*<partial name="_Team" />*@
<!-- End Team Section -->
<!-- ======= Clients Section ======= -->
@*<partial name="_Clients" />*@
<!-- ======= Recent Blog Posts Section ======= -->
@*<partial name="_Blog" />*@
<!-- End Recent Blog Posts Section -->
<!-- ======= F.A.Q Section ======= -->
@*<partial name="_FAQs" />*@
<!-- End F.A.Q Section -->
<!-- ======= Contact Section ======= -->
<partial name="_Contact" />
<!-- End Contact Section -->
